
<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Summarize4Me</title>
      {% else %}
      <title>Welcome to Summarize4Me</title>
      {% endif %}
      <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
      <link rel="manifest" href="/static/site.webmanifest">
      <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/static/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
    </head>
    <body>
      <div class="container">
        <div class="item">
          <ul>
         <li> <a href="{{ url_for('index') }}"><img src="/static/Summarize4Me-Logo.png" height="40px" width="40px"></a></li>
         <li> <a href="{{ url_for('summarizeText') }}">Summarize Text</a></li> 
         <li> <a href="{{ url_for('summarizeURL') }}">Summarize URL</a></li> 
         <li> <a href="{{ url_for('logs') }}">Logs</a></li> 
         
        </ul>
      </div>  
      <div class="item">
        {% block content %}{% endblock %}
      </div>
      <div class="item-footer">
        <ul>
          <li>Contribute: <a href="https://github.com/satishsurath/summarize4me"><img src="/static/github.svg" alt="GitHub link" width="18" height="18" class="footer-img"></a></li>
        </ul>
    </div>  
      </div>
    </body>
</html>