
<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - AI.sati.sh</title>
      {% else %}
      <title>Welcome to AI.sati.sh</title>
      {% endif %}
    </head>
    <body>
        <div>AI.sati.sh: 
          <a href="{{ url_for('index') }}">Home</a> | 
          <a href="{{ url_for('login') }}">Login</a>
      </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>