{% extends "base.html" %}
{% block content %}
        <h1>Productivity Upgrade</h1>
        <p class="left-align">
        Summarize text and web pages to a few key bullet points!
        <br>
        Save them in your favorite note-taking app.
        </p>
        <br>
        <h2>v0.0.5 Pre-release</h2>
        <p class="left-align">
        <b>New Features in this release:</b><br>
        - Unlimited Token Support with Chunking. No more token size limit to the Text / URL <br>
        - Hash-Based Database Storage for Faster Retrieval<br>
        - Delete Entry Option in Logs Page<br>
        
        <br>
        <b>Features that work from before:</b><br>
        - Added OpenAI-Debug Page for Authenticated Admins<br>
        - Backend logging<br>
        - Backend Pagination Support and Responsive UI for the Logs Page<br>
        - Changed to gpt-3.5-turb from text-davinci-003<br>
        - Displaying additional stats at the bottom of the page and the option to see the raw JSON output<br>
        - Summarize From Text feature works for a limited number of characters<br>
        - Summarize From URL Extract the main text from a webpage and summarize it<br>
        - Trimming the Prompt to be within the max token limit of gpt-3.5-turbo<br>
        <br>
        <b>Features In the Pipeline:</b><br>
        - Extract Text from a PDF file and Summarize it<br>
        - Privacy Notice<br>
        - Enable Sessions<br>
        - SPAM Protection<br>
        - Integration of Additional LLMs (by Google for example)<br>
        </p>

{% endblock %}