{% extends "base.html" %}
{% block content %}
        <h1>Productivity Upgrade</h1>

        <h2> 📄➕🤖 ➡🎯 </h2>
        <br>
        <p class="center-align">                            
        AI-powered text summarization made simple. <br>
        Condense articles, web pages, and PDFs effortlessly. <br>
        Save time and boost productivity with Summarize4Me. 
        </p>
        <br>
        <h2>v0.0.7 Pre-release</h2>
        <p class="left-align">
        <b>New Features in this release:</b><br>
        - Basic Styling and Dark Mode Toggle Support<br>
        - Basic Form Validation Support<br>

        <br>
        <b>Existing Features:</b><br>
        - Summarize From Text<br>
        - Summarize Webpage from URL<br>        
        - Unlimited Token Support with chunking. No more token size limit to the Text / URL </br>
        - OpenAI-Debug Page for authenticated admins<br>
        - Backend logging with pagination and deletion support<br>
        - Changed to gpt-3.5-turb from text-davinci-003<br>
        - Additional stats display and raw JSON output option<br>
        - Hash-Based Database Storage for faster retrieval<br>        
        <br>
        <b>Features In the Pipeline:</b><br>
        - Extract Text from a PDF file and Summarize it<br>
        - Privacy Notice<br>
        - Enable Sessions<br>
        - SPAM Protection<br>
        - Integration of Additional LLMs (by Google for example)<br>
        </p>

{% endblock %}