{% extends "base.html" %}

{% block content %}
    <h1>Summarize From Text</h1>
    <form action="" method="post" onsubmit="showProcessing()" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.summarize.label }}<br>
            <small><em>{{ form.summarize(cols=50, rows=10, class_='form-control', placeholder='Enter text here...', onkeyup="document.getElementById('charNum').innerHTML = this.value.length") }}</em></small><br>
            <span id="charNum">0</span> characters entered.
            {% for error in form.summarize.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>        
            {{ form.accept_terms }} I accept the <a href="/privacy-policy" target="_blank">Privacy Policy</a> and Terms of Use<br>
            {% for error in form.accept_terms.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}                
        </p>
        <p>{{ form.submit() }}</p>
        <div id="processing" style="display:none; font-weight:bold;">Processing<span id="dots"></span></div>
        {% if openAI_summary %}
            <div class="left-align">
                <details>
                    <summary><b>Text to Summarize:</b></summary>
                    <p>
                        {% for para_test2summarize in test2summarize %}
                            {{para_test2summarize}}
                        {% endfor %}
                    </p>  
                </details>    
            <hr>          
            
            <h2>Summary:</h2>
            <p>
                {% for para_summary in openAI_summary %}
                    {{para_summary}}<br>
                {% endfor %}
            </p>
            <hr>
            <details>
                <summary>Stats for Nerds</summary>
                <p><strong>Token count:</strong> {{ token_count }}</p>
                <p><strong>Chunks count:</strong> {{ number_of_chunks }}</p>
                <p><strong>Average tokens per sentence:</strong> {{ avg_tokens_per_sentence|round(2) }}</p>
                {% if is_trimmed %}
                    <p> The Text has been trimed for exceeding the max token count. Check below for the trimmed prompt</p>
                {% else %}
                    <p> The Text has NOT been trimed</p>
                {% endif %}
            </details>
            {% if is_trimmed %}
                <details>
                    <summary>Trimmed Prompt</summary>
                    <p> {{ form_prompt_nerds }}</p>
                </details>
            {% endif %}
            <details>
                <summary>JSON:</summary>
                <pre style="white-space: pre-wrap;" class="prettyprint">{{ openAI_json|nl2br|safe }}</pre>
            </details>            
            </div>
        {% endif %}
    </form>
    <script>
        var interval;
        var dotCount = 0;

        function showProcessing() {
            document.getElementById('processing').style.display = 'block';
            animateDots();
        }

        function animateDots() {
            interval = setInterval(function() {
                var dots = '';
                for (var i = 0; i < dotCount; i++) {
                    dots += '.';
                }
                document.getElementById('dots').innerText = dots;
                dotCount = (dotCount + 1) % 4;
            }, 500);
        }
    </script>
{% endblock %}