{% extends "base.html" %}
{% block content %}
    <h1>View Entry: </h1>      
            <div class="left-align">
                <details><summary>Suggested Title:</summary></details>
                <h2> {{ summary_page_title }}</h2>
                <hr>   
                <details>
                    <summary><b>Text to Summarize:</b></summary>
                    <p>
                        {% for para_text2summarize in text2summarize %}
                            {{para_text2summarize}}
                        {% endfor %}
                    </p>  
                </details>    
            <hr>          
            <h2>Summary:</h2>
            <p>
                {% for para_summary in openAI_summary %}
                    {{para_summary}}<br>
                {% endfor %}
            </p>
            <hr>
            {% include 'reuse-copy-share.html' %}
            <hr>
            {% if openAI_json %}
            <details>
                <summary>JSON:</summary>
                <pre style="white-space: pre-wrap;" class="prettyprint">{{ openAI_json|nl2br|safe }}</pre>
            </details>            
            </div>
            {% endif %}
{% endblock %}